In [1]:
import pandas as pd

In [45]:
df = pd.read_csv('sb-projections.csv')

res = pd.DataFrame()
flag = 0
for i, d in df.iterrows():
    if flag > 0:
        if flag == 1:
            res.loc[date, 'Days Until'] = d.values[0]
            flag += 1
        elif flag == 2:
            res.loc[date, 'Subs'] = d.values[0]
            flag += 1
        elif flag == 3:
            res.loc[date, 'Views'] = d.values[0]
            flag += 1
        elif d.values[0] == 'SHARE TWEET':
            flag = 0
        else:
            print('Unknown state')
            print(d.values[0])
            flag = 0
    try:
        date = pd.to_datetime(d.values[0])
        flag = 1
    except:
        pass

Unknown state
288
Unknown state
166
Unknown state
322
Unknown state
378
Unknown state
404
Unknown state
--
Unknown state
312

In [54]:
df.loc[37:45]

      GOAL DATE
37       261289
38  SHARE TWEET
39   2022-10-21
40     209 days
41        20000
42       297885
43  SHARE TWEET
44   2022-11-19
45     238 days

In [43]:
res

             Days Until  Subscriber       Views
2022-05-11      46 days        2500  2022-06-19
2022-06-19      85 days        5000  2022-07-18
2022-07-18     114 days        7500  2022-08-11
2022-08-11     138 days       10000  2022-08-31
2022-08-31     158 days       12500  2022-09-19
2022-09-19     177 days       15000  2022-10-06
2022-10-06     194 days       17500      261289
1989-12-26  SHARE TWEET  2022-10-21         NaN
2022-10-21     209 days       20000  2022-11-19
2022-11-19     238 days       25000  2022-12-15
2022-12-15     264 days       30000  2023-01-29
2023-01-29     309 days       40000  2023-03-10
2023-03-10     349 days       50000  2023-04-15
2023-04-15     385 days       60000      911201
1991-12-01  SHARE TWEET  2023-05-18         NaN
2023-05-18     418 days       70000  2023-06-03
2023-06-03     434 days       75000  2023-06-18
2023-06-18     449 days       80000  2023-07-17
2023-07-17     478 days       90000  2023-08-13
2023-08-13     505 days      100000  2023-10-15
2023-10-15     568 days      125000  2023-12-11
2023-12-11     625 days      150000  2024-02-01
2024-02-01     677 days      175000  2024-03-21
2024-03-21     726 days      200000  2024-06-18
2024-06-18     815 days      250000  2024-09-06
2024-09-06     895 days      300000  2025-01-26
2025-01-26    1037 days      400000  2025-05-31
2025-05-31    1162 days      500000  2025-09-22
2025-09-22    1276 days      600000  2026-01-04
2026-01-04    1380 days      700000  2026-02-22
2026-02-22    1429 days      750000  2026-04-11
2026-04-11    1477 days      800000  2026-07-11
2026-07-11    1568 days      900000  2026-10-05
2026-10-05    1654 days     1000000  2022-03-19
2022-03-19          Sat          13  2022-03-20
2022-03-20          Sun           4  2022-03-21
2022-03-21          Mon          19  2022-03-22
2022-03-22          Tue          38  2022-03-23
2022-03-23          Wed          21  2022-03-24
2022-03-24          Thu          20  2022-03-25
2022-03-25          Fri          --  $23 - $363

In [47]:
res.head(20)

             Days Until        Subs    Views
2022-05-11      46 days        2500    32184
2022-06-19      85 days        5000    69299
2022-07-18     114 days        7500   107686
2022-08-11     138 days       10000   146414
2022-08-31     158 days       12500   183501
2022-09-19     177 days       15000   222789
2022-10-06     194 days       17500   261289
1989-12-26  SHARE TWEET  2022-10-21      NaN
2022-10-21     209 days       20000   297885
2022-11-19     238 days       25000   375620
2022-12-15     264 days       30000   453137
2023-01-29     309 days       40000   604780
2023-03-10     349 days       50000   758176
2023-04-15     385 days       60000   911201
1991-12-01  SHARE TWEET  2023-05-18      NaN
2023-05-18     418 days       70000  1063932
2023-06-03     434 days       75000  1142272
2023-06-18     449 days       80000  1218260
2023-07-17     478 days       90000  1372152
2023-08-13     505 days      100000  1523702

In [37]:
df.head(20)

            GOAL DATE
0          TIME UNTIL
1   •SUBS PREDICTION•
2    VIEWS PREDICTION
3     SHARE THIS GOAL
4          2022-05-11
5             46 days
6                2500
7               32184
8         SHARE TWEET
9          2022-06-19
10            85 days
11               5000
12              69299
13        SHARE TWEET
14         2022-07-18
15           114 days
16               7500
17             107686
18        SHARE TWEET
19         2022-08-11